Repository ezetech/anthropic-gui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint

Update README.md
  README.md
Due: none

feature/demo-update
  README.md
Due: none

Update README.md with demo gif
  README.md
Due: none

Update README.md with collapsed video
  README.md
Due: none

Updated gif
  README.md
Due: none

feature/add-claude-2-model
  README.md
  src/features/ApiSettings/ApiSettings.tsx
  src/features/Chat/components/EditablePrompt/Prompts.module.scss
  src/models.ts
  src/redux/apiSettings/apiSettings.slice.ts
Due: eslint --fix, stylelint

bugfix/ai-response
  package.json
  src/features/Chat/ChatSelected.tsx
Due: eslint --fix

feature/readme-release-update
  README.md
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js}
  stylelint: any of: *.{css,scss}
