Repository ezetech/anthropic-gui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx,js}": "eslint --fix",
  "*.{css,scss}": ["stylelint"]
}

fix/docs
  README.md
  package.json
Due: none

fix/app-start
  package.json
  src/redux/conversations/helpers.tsx
Due: eslint --fix

fixed: collapsed issue, autocomplete off, chats placing etc
  src/features/Conversations/ChatsTree.tsx
  src/features/Conversations/components/SearchItem/SearchItem.module.scss
  src/features/Conversations/components/SearchItem/SearchItem.tsx
  src/features/Conversations/components/TreeItem/SortableTreeItem.tsx
  src/features/Conversations/components/TreeItem/TreeItem.tsx
  src/features/Conversations/helpers.tsx
Due: eslint --fix, stylelint

fix: fixed errors when electron start:dev
  src/features/Conversations/ChatsTree.tsx
  src/features/Conversations/helpers.tsx
  src/redux/conversations/conversations.selectors.ts
Due: eslint --fix

fix/stop-stream
  src/features/Chat/ChatSelected.tsx
Due: eslint --fix

feature/app-icons
  package.json
  public/icons/icon.icns
  public/icons/icon.ico
  public/icons/icon.png
Due: none

fix/packages
  package.json
  src/components/Drop/Drop.tsx
  src/components/Drop/index.ts
  yarn.lock
Due: eslint --fix

fix: fixed errors for start:dev
  src/redux/conversations/conversations.selectors.ts
  src/redux/conversations/conversationsSlice.ts
Due: eslint --fix

fix/hot-fixes
  public/icons/icon.icns
  public/icons/icon.ico
  src/features/Chat/ChatSelected.tsx
Due: eslint --fix

fix/result-parser
  src/features/Chat/components/EditablePrompt/EditablePrompt.tsx
  src/features/Chat/components/EditablePrompt/Prompts.module.scss
  src/features/Chat/components/EditablePrompt/parsers/code.tsx
  src/features/Chat/components/EditablePrompt/parsers/html.ts
Due: eslint --fix, stylelint

fix: fixed errors
  src/redux/conversations/conversations.selectors.ts
  src/redux/conversations/conversationsSlice.ts
Due: eslint --fix

fix: fixed font-family
  src/pages/AuthPage/AuthPage.module.scss
  src/ui/ButtonAuthComponent/ButtonAuthComponents.module.scss
Due: stylelint

fix: fixed fonts, trimmed input api key, styles etc
  src/pages/AuthPage/AuthPage.module.scss
  src/pages/AuthPage/AuthPage.tsx
  src/ui/ButtonAuthComponent/ButtonAuthComponents.module.scss
  src/ui/TextFieldAuthComponent/TextFieldAuthComponent.module.scss
  src/ui/TextFieldAuthComponent/TextFieldAuthComponent.tsx
Due: eslint --fix, stylelint

fix: fixed fonts to global
  src/pages/AuthPage/AuthPage.module.scss
  src/ui/ButtonAuthComponent/ButtonAuthComponents.module.scss
  src/ui/TextFieldAuthComponent/TextFieldAuthComponent.module.scss
Due: stylelint

fix/skala-code
  src/features/Chat/components/EditablePrompt/parsers/code.tsx
Due: eslint --fix
