Repository ezetech/anthropic-gui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint

fix: trimmed titles
  src/features/Chat/ChatSelected.tsx
  src/features/Conversations/components/TreeItem/TreeItem.tsx
Due: eslint --fix

feature/new-version
  README.md
  package.json
Due: none

fix/conversation-name
  src/features/Chat/Chat.module.scss
Due: stylelint

fix: fixed element movement, cpllapsed, drag issues
  src/features/Conversations/ChatsTree.tsx
  src/features/Conversations/components/TreeItem/SortableTreeItem.tsx
  src/features/Conversations/components/TreeItem/TreeItem.tsx
  src/redux/conversations/conversationsSlice.ts
Due: eslint --fix

fix/copy-code
  src/features/Chat/components/EditablePrompt/EditablePrompt.tsx
  src/features/Chat/components/EditablePrompt/Prompts.module.scss
Due: eslint --fix, stylelint

fix: fixed newFolder disable color
  src/assets/styles/themes/dark.scss
  src/assets/styles/themes/light.scss
  src/features/Conversations/Conversations.module.scss
  src/features/Conversations/Conversations.tsx
Due: eslint --fix, stylelint

fix: feature/cancel-searchbtn
  src/features/Conversations/Conversations.module.scss
  src/features/Conversations/Conversations.tsx
Due: eslint --fix, stylelint

fix/defaults-api-settings
  src/features/ApiSettings/ApiSettings.tsx
  src/features/Chat/ChatSelected.tsx
  src/models.ts
  src/redux/apiSettings/apiSettings.slice.ts
  src/ui/SliderComponent/SliderComponent.module.scss
Due: eslint --fix, stylelint

fix/code-block
  src/features/Chat/components/EditablePrompt/EditablePrompt.tsx
  src/features/Chat/components/EditablePrompt/parsers/code.tsx
Due: eslint --fix

fix: fixed stroke for disabled icon
  src/assets/styles/themes/dark.scss
Due: stylelint

fix/ui-textfield
  src/features/Chat/Chat.module.scss
  src/features/Chat/ChatNew.tsx
  src/features/Chat/ChatSelected.tsx
  src/pages/AuthPage/AuthPage.tsx
  src/ui/TextFieldAuthComponent/TextFieldAuthComponent.tsx
  src/ui/TextFieldComponent/TextFieldComponent.module.scss
  src/ui/TextFieldComponent/TextFieldComponent.tsx
Due: eslint --fix, stylelint

fix: fixed trim on search
  src/features/Chat/ChatSelected.tsx
  src/features/Conversations/components/SearchItem/SearchItem.tsx
  src/features/Conversations/components/TreeItem/TreeItem.tsx
Due: eslint --fix

fix: fixed chats depth during movement
  src/features/Chat/ChatSelected.tsx
  src/features/Conversations/ChatsTree.tsx
  src/features/Conversations/ChatsTreeSearch.module.scss
  src/features/Conversations/components/SearchItem/SearchItem.module.scss
  src/features/Conversations/components/SearchItem/SearchItem.tsx
  src/features/Conversations/components/TreeItem/TreeItem.module.scss
  src/features/Conversations/components/TreeItem/TreeItem.tsx
  src/features/Conversations/helpers.tsx
  src/redux/conversations/conversations.selectors.ts
  src/typings/common.ts
Due: eslint --fix, stylelint

fix: fixed chat collapsed issue, disabled autocomplete etc
  src/features/Conversations/ChatsTree.tsx
  src/features/Conversations/ChatsTreeSearch.module.scss
  src/features/Conversations/Conversations.module.scss
  src/features/Conversations/Conversations.tsx
  src/features/Conversations/components/SearchItem/SearchItem.module.scss
  src/features/Conversations/components/SearchItem/SearchItem.tsx
  src/features/Conversations/components/TreeItem/SortableTreeItem.tsx
  src/features/Conversations/components/TreeItem/TreeItem.tsx
  src/features/Conversations/helpers.tsx
Due: eslint --fix, stylelint

fix: added button to reset settings
  src/features/ApiSettings/ApiSettings.module.scss
  src/features/ApiSettings/ApiSettings.tsx
  src/redux/apiSettings/apiSettings.slice.ts
  src/ui/SelectComponent/SelectComponent.tsx
  src/ui/SliderComponent/SliderComponent.tsx
Due: eslint --fix, stylelint

fix: fixed chat draggin on diffrent levels
  src/features/Conversations/ChatsTree.tsx
Due: eslint --fix

fix: disabled styles for add folder btn
  src/assets/styles/themes/dark.scss
  src/assets/styles/themes/light.scss
  src/features/Conversations/Conversations.module.scss
  src/features/Conversations/Conversations.tsx
Due: eslint --fix, stylelint

Update README.md
  README.md
Due: none

feature/doc-updates
  package.json
  public/icons/icon.png
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js}
  stylelint: any of: *.{css,scss}
